
# Python


__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/
ENV/


# Build / executáveis


build/
dist/
*.spec


# IDE 


.vscode/
.idea/
*.swp
*.swo


# Windows


Thumbs.db
Desktop.ini


# Logs / temporários

*.log
*.tmp
*.temp
*.cache


# Variáveis sensíveis


.env
.env.*
*.env

# chaves


*.pem
*.key
*.p12
*.pfx
*.crt


# Bancos locais


# *.db
# *.sqlite
# *.sqlite3


# Node / frontend


node_modules/


# Mac


.DS_Store
